/* a:link{
    color: aqua;
}
a:visited{
    color: yellow;
}
a:hover{
    color: brown;
}
a:active{
    color: chartreuse;
} */

/* .container>p:nth-last-child(odd){
    color: red;
} */

/* p::first-letter{
    color: red;
    
}
p::first-line{
    color: aqua;
}
p::selection{
    background-color: lightslategray;
    color: blue;
}
li::marker{
    content: '♥ ';
} */
 /* p::after{
    content: 'adding';
 }
 p::before{
    content: 'adding ';
 } */
 /* input:checked{
    outline: 2px solid red;
 } */

 input:focus{
    /* outline: 2px solid red; */
    /* border: none; */
    outline: none;
 }