/* .main_container{

height: 800px;
border: 2px solid red;
}
.child{
    height: 350px;
    border: 2px solid green;
}
.subchild-1{

    display: inline-block;
    width: 300px;
    height: 300px;
    border: 2px solid skyblue;
    position: relative;
}
.subchild-2{
    display: inline-block;
    width: 300px;
    height: 300px;
    border: 2px solid skyblue;
     position: relative;
}
.subchild-3{
    display: inline-block;
    width: 300px;
    height: 300px;
    border: 2px solid skyblue;
     position: relative;
}
.subchild-4{
    display: inline-block;
    width: 300px;
    height: 300px;
    border: 2px solid skyblue;
     position: relative;
}
img{
    width: 100%;
}
h3{
    background-color: black;
    color: white;
    padding: 10px;
    position: absolute;
    top: 0px;
    margin: 0px;
} */
/* 
.container{
    width: 500px;
    height: 500px;
    border: 2px solid ;
}
.child-1{
    width: 200px;
    height: 200px;
    background-color: lightblue;
    position: absolute;

}
.child-2{
    width: 200px;
    height: 200px;
    background-color: lightcoral;
   
} */

/* .header{
    height: 150px;
    background-color: deeppink;
    position: fixed;
    width: 100%;
    top: 100px;

}
p{
    display: inline-block;
    text-align: center;
    padding: 10px;

} */

.container{
    width: 300px;
    height: 600px;
    border: 5px solid;
    border-radius:10%;
    margin-left: 500px;
    overflow: scroll;
    scrollbar-width: none;
}
i{
    font-size: 50px;
}